<h1>Welcome to SOMOS, but what is <strong>SOMOS</strong>?</h1>
<h2>At SOMOS, we connect Colombia with the world.</h2>
<p>
  Our mission is to build the fastest and highest-quality internet network in Colombia and expand it throughout Latin America.
</p>
<p><%= Time.zone.now.strftime("Today is %B %d, %Y, %H:%M") %></p>