<h1>Welcome to SOMOS</h1>
<h2>What is SOMOS?</h2>
<p>
  In SOMOS helps everybody to connect with the world, our mission is to create the most porwerful and fast internet service in Latin America.
</p>
<p><%= Time.zone.now.strftime("Today is %B %d, %Y, %H:%M") %></p>