<h1>Business KPIs</h1>
<h2>Customer complaint rate KPI</h2>
<p>
    When we talk about business is necessary to talk about people, customers, and how to make them happy. For that reason the calls of the our clients make to us 
    are very important, between less call for bad service we have, more happy our customers are. 

</p>
<p>
    (<strong>Complaint rate</strong> / <strong>Total customers</strong>) * 100 = <em>Customer Complaint Rate</em>
</p>
<h2>Referral Rate KPI</h2>
<p>
    If we have a good customer complaint rate, we have a good references about us, that creates a good reputation in the market and the
    people will talk about our service, so we will have more customers and if we keep the good service, we will have more and more customers(we will have a virtuous circle).

</p>
<p>
    (<strong>Number of new referrals customers</strong> / <strong>Total new customers</strong>) * 100 = <em>Referral Rate</em>
</p>
<h1>Team KPIs</h1>
<h2>
Meeting efficiency KPI
</h2>
<p>
    The meeting is very important to the team, because it is the moment that we can talk about the problems that we have, and how to solve them.
    But the time is very important too, this KPI is to measure the time that we spend in the meeting vs the time that we planned for the meeting.
</p>
<p>
    (<strong>Total meeting time</strong> / <strong>Planned meeting time</strong>) = <em>Meeting efficiency</em>
</p>
<h2>Average Meeting Duration KPI</h2>
<p>
  Meetings are a vital opportunity for the team to align on challenges and decide on solutions.  
  However, keeping them concise is just as important as their content.  
  This KPI measures the average length of our meetings if it drifts above the optimal threshold,  
  it signals that we need better agenda planning and stricter timeboxing.
</p>
<p>
  (<strong>Total meeting time</strong> / <strong>Number of meetings</strong>) = <em>Average meeting duration</em>
</p>