<h1>Business KPIs</h1>
<h2>Customer complaint rate KPI</h2>
<p>
    When talking about business it's necessary to take into account the customers, and how to increase their level of satisfaction. 
    For this reason the calls we receive from our clientele are our priority. The happier the costumers are, the less costumer complaints we obtain.  
</p>
<p>
    (<strong>Complaint rate</strong> / <strong>Total customers</strong>) * 100 = <em>Customer Complaint Rate</em>
</p>
<h2>Revenue from new customers KPI</h2>
<p>
    When talking about business growth, it's necessary to focus on how to generate fresh income through expansion or customer acquisition.
    For this reason, this KPI measures the revenue generated exclusively from new clients during a specific period.
</p>
<p>
    (<strong>Revenue from new customers</strong> / <strong>Total revenue</strong>) * 100 = <em>Revenue from new customers KPI</em>
</p>
<h1>Team KPIs</h1>
<h2>Meeting efficiency KPI</h2>
<p>
    The meeting is very important to the team because it is the moment when we can talk about the problems we have and how to solve them. 
    However, time is also very important. This KPI measures the time we actually spend in the meeting versus the time we originally planned for it.
</p>
<p>
    (<strong>Total meeting time</strong> / <strong>Planned meeting time</strong>) = <em>Meeting efficiency</em>
</p>
<h2>Team Punctuality KPI</h2>
<p>
    The ability to meet deadlines is essential for a team to be productive and reliable.
    When tasks are delivered on time, the workflow stays smooth and team coordination improves.
    This KPI measures how often team members complete their tasks on or before the assigned deadline.
</p>
<p>
    (<strong>On-Time Deliveries</strong> / <strong>Total Deliveries</strong>) = <em>Team Punctuality</em>
</p>